@import "compass/css3";

$base03:    #002b36;
$base02:    #073642;
$base01:    #586e75;
$base00:    #657b83;
$base0:     #839496;
$base1:     #93a1a1;
$base2:     #eee8d5;
$base3:     #fdf6e3;
$yellow:    #b58900;
$orange:    #cb4b16;
$red:       #dc322f;
$magenta:   #d33682;
$violet:    #6c71c4;
$blue:      #268bd2;
$cyan:      #2aa198;
$green:     #859900;

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: $base02;
}

a {
  color: #00B7FF;
}

span {
	display: inline-block;
	background-color: $cyan;
	color: white;
	padding: 15px;
	cursor: pointer;
	border: solid 2px $magenta;
	width: 150px;
	margin-bottom: 50px;
	font-size: 20px;
	text-align: center;
}

span:nth-child(odd) {
	margin-right: 50px;
}

#buttons {
	width: 420px;
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 25px;
	margin-left: auto;
	margin-right: auto;
	background-color: $green;
}